<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.shopping.mapper.ShoppingMapper">
	
	<select id="shoppingList" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT b.productId,
			   b.productName,
			   b.productDetail,
			   b.productPoint,
			   b.mainCategory,
			   b.middleCategory,
			   b.subCategory,
			   b.productKeyword,
			   b.productPicture
		FROM product b
	    
	    LEFT JOIN
        (SELECT mainCategory mc, count(*) cnt FROM product_purchase WHERE userId = #{userId}
        GROUP BY mainCategory
        ORDER BY cnt DESC) a
        ON a.mc = b.mainCategory
        
        LEFT JOIN 
		(SELECT productId id, count(1) pcnt
		FROM product_purchase WHERE userId = #{userId}
		GROUP BY productId 
		ORDER BY pcnt DESC) c
		ON b.productId =  c.id
		<choose>
			<when test="mainCategory != null">
				WHERE b.mainCategory = #{mainCategory}
			</when>
		</choose>
		ORDER BY a.cnt DESC, b.mainCategory ASC, c.pcnt DESC, b.productId
		<choose>
			<when test="index == null">
				LIMIT 0, 12
			</when>
			<when test="index != null">
				LIMIT #{index}, 12
			</when>
		</choose>
	</select>
	
	<select id="shoppingDetail" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT * FROM product
		WHERE productId = #{productId}
	</select>
	
	<insert id="pruchase">
		INSERT INTO product_purchase
		(userId, receiverId, productId, mainCategory, middleCategory, subCategory)
		VALUES
		(#{userId}, #{receiverId}, #{productId}, #{mainCategory}, #{middleCategory}, #{subCategory})
	
	</insert>
	
	<select id="myPresent" resultType="int">
		SELECT COUNT(*)
		FROM product_purchase
		WHERE receiverId = #{receiverId}
	</select>
	
	<select id="presentList" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT * FROM product_purchase p JOIN product t ON p.productId = t.productId
		WHERE  receiverId = #{receiverId}
	</select>
	
	<select id="hotItem" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT a.productId,
			   a.productName,
			   a.productDetail,
			   a.productPoint,
			   a.mainCategory,
			   a.middleCategory,
			   a.subCategory,
			   a.productKeyword,
			   a.productPicture 
		FROM 
		(SELECT * FROM product) a

		JOIN
		
		(SELECT productId, count(1) pcnt 
		FROM product_purchase 
		GROUP BY productId
		ORDER BY pcnt DESC) b
		on a.productId = b.productId
		ORDER BY b.pcnt DESC, a.productId
		LIMIT 0, 3
 
	</select>
	
</mapper>