<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.shopping.mapper.ShoppingMapper">
	
	<select id="shoppingList" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT productId,
			   productName,
			   productDetail,
			   productPoint,
			   mainCategory,
			   middleCategory,
			   subCategory,
			   productKeyword,
			   productPicture
		FROM product
		<choose>
			<when test="mainCategory != null">
				WHERE mainCategory = #{mainCategory}
			</when>
		</choose>
		ORDER BY productId
		<choose>
			<when test="index == null">
				LIMIT 0, 12
			</when>
			<when test="index != null">
				LIMIT #{index}, 12
			</when>
		</choose>
	</select>
	
	<select id="shoppingDetail" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT * FROM product
		WHERE productId = #{productId}
	</select>
	
	<insert id="pruchase">
		INSERT INTO product_purchase
		(userId, receiverId, productId, mainCategory, middleCategory, subCategory)
		VALUES
		(#{userId}, #{receiverId}, #{productId}, #{mainCategory}, #{middleCategory}, #{subCategory})
	
	</insert>
	
	<select id="myPresent" resultType="int">
		SELECT COUNT(*)
		FROM product_purchase
		WHERE receiverId = #{receiverId}
	</select>
	
	<select id="presentList" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT * FROM product_purchase p JOIN product t ON p.productId = t.productId
		WHERE  receiverId = #{receiverId}
	</select>
	
</mapper>