<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.shopping.mapper.ShoppingMapper">
	
	<select id="shoppingList" resultType="org.zerock.shopping.domain.ShoppingVO">
		SELECT productName,
			   productDetail,
			   productPoint,
			   mainCategory,
			   middleCategory,
			   subCategory,
			   GROUP_CONCAT(productKeyword),
			   productPicture
		FROM product
		GROUP BY productName
		ORDER BY productId
	</select>
	
	
</mapper>