<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.album.mapper.AlbumMapper">


	
	  <!-- keyColumn 의 값이 keyProperty의 값으로 들어감 -->
  <insert id="registerAlbum" useGeneratedKeys="true" keyProperty="ano" keyColumn="ano">
     INSERT INTO album (title, comment, writer)
     VALUES (#{title}, #{comment}, #{writer})
  </insert>
  
  <insert id="registerFile" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	INSERT INTO file (ano, fileName)
	VALUES (#{ano}, #{fileName})
  </insert>
  
  <select id="getList" resultMap="albumMap">
  	SELECT a.ano, 
	   a.title, 
       a.comment, 
       a.writer, 
       a.regdate, 
       a.updateDate, 
       f.fileName 
	FROM album a LEFT JOIN file f on a.ano = f.ano;
  </select>
  
<resultMap type="org.zerock.album.domain.AlbumVO" id="albumMap">
	<id property="ano" column="ano"></id>
	<result property="title" column="title"></result>
	<result property="comment" column="comment"></result>
	<result property="regdate" column="regdate"></result>
	<result property="updateDate" column="updateDate"></result>
	<result property="writer" column="writer"/>
	<collection property="fileName" resultMap="fileMap"></collection>
</resultMap>
<resultMap type="org.zerock.album.domain.FileVO" id="fileMap">
	<result property="ano" column="ano"/>
	<result property="fileName" column="fileName"/>
</resultMap>
	
	
	<select id="get" resultMap="album">
	 SELECT a.ano, 
	   a.title, 
       a.comment, 
       a.writer, 
       a.regdate, 
       a.updateDate, 
       f.fileName 
	FROM album a LEFT JOIN file f on a.ano = f.ano
	WHERE a.ano = #{ano}
	</select>
	
	<resultMap type="org.zerock.album.domain.AlbumVO" id="album">
		<id property="ano" column="ano"></id>
		<result property="title" column="title"></result>
		<result property="comment" column="comment"></result>
		<result property="regdate" column="regdate"></result>
		<result property="updateDate" column="updateDate"></result>
		<result property="writer" column="writer"/>
		<collection property="fileName" resultMap="file"></collection>
	</resultMap>
	<resultMap type="org.zerock.album.domain.FileVO" id="file">
		<result property="ano" column="ano"/>
		<result property="fileName" column="fileName"/>
	</resultMap>
	
	<!-- 
	 <select id="get" resultMap="album">
	 	SELECT  a.ano,
	 			f.fileName
	 	FROM album a LEFT JOIN file f on a.ano = f.ano
	 	WHERE a.ano = #{ano}
	 </select>
	 
	 <resultMap type="org.zerock.album.domain.AlbumVO" id="album">
	 	<id property="ano" column="ano"></id>
	 	<collection property="fileName" resultMap="file"></collection>
	 </resultMap>
	 <resultMap type="org.zerock.album.domain.FileVO" id="file">
	 	<result property="ano" column="ano"/>
		<result property="fileName" column="fileName"/>
	 </resultMap>
	 -->
  <insert id="registerProfile">
  	INSERT INTO member_profile
  	(userId, fileName)
  	VALUES
  	(#{userId}, #{fileName})
  </insert>
  
  <select id="existFile" resultType="int">
  SELECT count(*) FROM member_profile
  WHERE userId = #{userId} 
  </select>
  
  <update id="updateProfile">
  	UPDATE member_profile
  	SET fileName = #{fileName}
  	WHERE userId = #{userId}
  </update>
  
  <select id="getMainList" resultType="org.zerock.album.domain.AlbumVO">
  	 SELECT a.ano, 
	   a.title, 
       a.comment, 
       a.writer, 
       a.regdate, 
       a.updateDate, 
       f.fileName firstFile
	FROM album a LEFT JOIN file f on a.ano = f.ano;
	GROUP BY a.ano
	ORDER BY a.ano DESC
	LIMIT 0, 3
  </select>
  
</mapper>
