<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.game.mapper.QuizMapper">
	<select id="getQuiz" resultType="org.zerock.game.domain.QuizVO">
		SELECT * FROM quiz
		WHERE date = #{date}
	</select>
	
	<insert id="insertAtt" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO quiz_att
		(qid, userId, point)
		VALUES
		(#{qid}, #{userId}, #{point})
	</insert>
	
	<select id="getQuizAtt" resultType="QuizVO">
		SELECT * FROM quiz_att
		WHERE qid = #{qid} AND userId = #{userId}
	</select>
	
	<update id="updateAtt">
		UPDATE quiz_att
		SET point = #{point},
			enabled = #{enabled}
		WHERE qid = #{qid} AND userId = #{userId}
	</update>
	
	<select id="countQuizAtt" resultType="int">
		SELECT count(*) FROM quiz_att
		WHERE qid = #{qid} AND userId = #{userId}
	</select>
	
	<insert id="insertQuizCheck" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO quiz_check
		(qid, userId)
		VALUES
		(#{qid}, #{userId})
	</insert>
	
	<update id="updateQuizCheck">
		UPDATE quiz_check
		SET enabled = 0
		WHERE qid = #{qid} AND userId = #{userId}
	</update>
</mapper>