<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.board.mapper.ReplyMapper">

<insert id="register">
	INSERT INTO reply
	(bno, content, replyer)
	VALUES
	(#{bno}, #{content}, #{replyer})
</insert>

<select id="getList" resultType="org.zerock.board.domain.ReplyVO">
	SELECT r.rno,
		   r.bno,
		   r.content,
		   r.replyer,
		   r.replyDate,
		   r.updateDate,
		   r.good,
		   r.bad,
		   m.userName replyerName 
	FROM reply r JOIN member m ON r.replyer = m.userId
	WHERE r.bno = #{bno}
	ORDER BY r.good DESC
</select>

<update id="goodUpdate">
	UPDATE reply
	SET good = #{good}
	WHERE rno = #{rno}
</update>

<update id="badUpdate">
	UPDATE reply
	SET bad = #{bad}
	WHERE rno = #{rno}
</update>

<select id="getReply" resultType="org.zerock.board.domain.ReplyVO">
	SELECT * FROM reply
	WHERE rno = #{rno}
</select>

<select id="getReply_ReplyList" resultType="org.zerock.board.domain.Reply_ReplyVO">
	SELECT * FROM reply_reply
	WHERE rno = #{rno}
</select>

<insert id="reply_register">
	INSERT INTO reply_reply
	(rno, r_content, r_replyer)
	VALUES
	(#{rno}, #{r_content}, #{r_replyer})
</insert>

<delete id="removeReplyReply">
	DELETE FROM reply_reply
	WHERE rno IN (SELECT rno FROM reply WHERE bno = #{bno})
</delete>

<delete id="removeReply">
	DELETE FROM reply
	WHERE bno = #{bno}
</delete>
</mapper>