<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.board.mapper.ReplyMapper">

<insert id="register">
	INSERT INTO reply
	(bno, content, replyer)
	VALUES
	(#{bno}, #{content}, #{replyer})
</insert>

<select id="getList" resultType="org.zerock.board.domain.ReplyVO">
	SELECT r.rno,
		   r.bno,
		   r.content,
		   r.replyer,
		   r.replyDate,
		   r.updateDate,
		   r.good,
		   r.bad,
		   m.userName replyerName 
	FROM reply r JOIN member m ON r.replyer = m.userId
	WHERE r.bno = #{bno}
</select>

<update id="goodUpdate">
	UPDATE reply
	SET good = #{good}
	WHERE rno = #{rno}
</update>

<select id="getReply" resultType="org.zerock.board.domain.ReplyVO">
	SELECT * FROM reply
	WHERE rno = {rno}
</select>
</mapper>